.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!.yarn/cache
#.pnp.*

node_modules

# ide files
.vscode/*
!.vscode/settings.json
.editorconfig

# build files
dist/
.next
tsconfig.tsbuildinfo

# claude code
.claude